<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
	<!-- Main Content -->
	<div class="container-fluid">
		<div class="row main-content text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
				<h4 class="company_title"><img src="/imgs/logoSoma.png"></h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row justify-content-center mt-1">
						<h2>Login</h2>
					</div>
					<div class="row justify-content-center ml-1">
						<form control="" class="form-group">
							<div class="row">
								<input type="text" name="username" id="username" class="form__input" placeholder="Usuario" autocomplete="off" max="40">
							</div>
							<div class="row">
								<input type="password" name="password" id="password" class="form__input" placeholder="Senha" max="20">
							</div>
							<div class="row">
								<input type="button" value="Acessar" class="btn" onclick="Logar()">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!--<script src="../app.js"></script>-->
<script>

async function Logar(){
    const url = "http://127.0.0.1:4000/users/auth";
    var usuario = document.getElementById("username").value;
    var senha = document.getElementById("password").value; 

    try {
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ usuario, senha })
        });

        if (!response.ok) {
            throw new Error('Não foi possível fazer login');
        }

        const data = await response.json();

        const accessToken = data.token;

        // Salva token no localstorage
        localStorage.setItem('accessToken', accessToken);

		//Redireciona para home
		const token = localStorage.getItem('accessToken');

		var oReq = new XMLHttpRequest();

		oReq.open('GET', 'http://localhost:4000/home');
		oReq.setRequestHeader('x-access-token', token);
		oReq.send();

		}catch (error) {
			console.error('Erro ao fazer login:', error);
		}
}
</script>
</html>